.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.three{
  gap: 8px;
  padding: 6px 0px;  
 }

.three button{
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
  border: none;
  transition: 0.3s ease-in-out;

}
.three button:hover{
  cursor: pointer;
}
.buttons{
  display: grid;
  width: 100%;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: repeat(5,1fr);
}
.input-three{
  border-radius: 10px;
}
.bottom-three{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 85%;
  height: 80%;
  
}
.display{
  height: 50px;
  width: 100%;
  padding: 10px;
}
.top{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#miniräknare-three{
  border: 2px solid black;
  width: 230px;
  height: 330px;
  background-color: #2C2F36;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.bottom-three .three button:nth-child(1){   /* 00 */
  grid-area: 5 / 1 / 5 / 2;
  background-color: #4b7fc6;
  
  
}
.bottom-three .three button:nth-child(2){   /* 0 */
  grid-area: 5/2/5/3;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(3){   /* . */
  grid-area: 5/3/5/4;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(4){   /* 1 */
  grid-area: 4/1/4/2;
  background-color: #4b7fc6;
  
  
}
.bottom-three .three button:nth-child(5){   /* 2 */
  grid-area: 4/2/4/3;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(6){   /* 3 */
  grid-area: 4/3/4/4;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(7){   /* 4 */
  grid-area: 3 / 1 / 3 / 2;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(8){   /* 5 */
  grid-area: 3 / 2 / 3 /3;
  background-color: #4b7fc6;
 
}
.bottom-three .three button:nth-child(9){   /* 6 */
  grid-area: 3 / 3 / 3 /4;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(10){  /* 7 */
  grid-area: 2 / 1 / 2 /2;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(11){  /* 8 */
  grid-area: 2 / 2 / 2 / 3;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(12){  /* 9 */
  grid-area: 2 / 3 / 2 / 4;
  background-color: #4b7fc6;
  
}
.bottom-three .three button:nth-child(13){  /* C */
  grid-area: 1 / 1 /2 / 2;
  background-color: #c74f4e;
  
}
.bottom-three .three button:nth-child(14){  /* x */
  background-color: #c74f4e;
  
}
.bottom-three .three button:nth-child(15){  /* / */
  background-color: #c74f4e;
  
}
.bottom-three .three button:nth-child(16){  /* + */
  background-color: #c74f4e;
  
}
.bottom-three .three button:nth-child(17){  /* - */
  background-color: #c74f4e;
  
}
.bottom-three .three button:nth-child(18){  /* % */
  background-color: #c74f4e;
  
}
.bottom-three .three button:last-child{  /* = */
  grid-area: 4 / 4 / 6 / 5;
  background-color: #ccaa00;
  
  
}
.display-bg{
  background-color: #171A21;
  width: 70%;
  height: 35px;
  border-radius: 10px;
  
}
.display-bg-og{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border: none;
  
}
input{
  text-align: right;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  font-size: 1.7rem;
  background-color: transparent;
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}
input::placeholder{
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}
input:focus{
  outline: none;
}